body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ff7b00 0%, #87fff5 100%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
h1 {color: #467a88;
  margin-bottom: 10px;
  text-shadow : 2px 2px 4px rgba(0, 0, 0, 0.3);
}
  
p {
  color: #636e72;
  margin-bottom: 30px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
  border-top: 8px solid #0400ff;
}
.card:hover {
  transform: translateY(-50px);
}
.card h2 {
  margin: 0 0 10px 0;
  color: #0400ff;
  font-size: 1.5em;
}
.info-item {
  margin: 8px 0;
  font-size: 0.9em;
  color: #000000;
}
.label {
  font-weight: bold;
  color: #2bff00;
  text-transform: uppercase;
  font-size: 0.75em;
}
